<%= form_for(@question) do |f| %>
<% if @question.errors.any? %>
<div id="error_explanation">
	<!-- <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2> -->

	<ul>
		<% @question.errors.full_messages.each do |msg| %>
		<li class="alert-box small-3 push-2 alert round">
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="row collapse">
	<div class="small-2 columns">
		<%= f.label :questiontype, class:"right inline"%>
	</div>
	<div class="small-10 columns">
		<%= f.select :questiontype, [['Multiple-Choice-Frage', 'multiplechoice'],['Single-Choice-Frage','singlechoice'],['Offene Frage','openquestion'],['Lückentext','clozetext'],['Drag & Drop', 'draganddrop'] ] %>
	</div>
</div>
<div class="row collapse">
	<div class="small-2 columns">
		<%= f.label :name, class:"right inline" %>
	</div>
	<div class="small-10 columns">
		<%= f.text_field :name %>
	</div>
</div>
<div class="row collapse">
	<div class="small-2 columns">
		<%= f.label :body, class:"right inline" %>
	</div>
	<div class="small-10 columns">
		<%= f.text_field :body %>
	</div>
</div>
<div class="row collapse">
	<div class="small-2 columns">
		<%= f.label :noticewrong, class:"right inline" %>
	</div>
	<div class="small-10 columns">
		<%= f.text_field :noticewrong %>
	</div>
</div>
<div class="row collapse">
	<div class="small-2 columns">
		<%= f.label :noticeright, class:"right inline" %>
	</div>
	<div class="small-10 columns">
		<%= f.text_field :noticeright %>
	</div>
</div>
<div class="row collapse">
	<div class="small-2 columns">
		<%= f.label :notice, class:"right inline" %>
	</div>
	<div class="small-10 columns">
		<%= f.text_field :notice %>
	</div>
</div>
<div class="row collapse">
	<div class="small-10 small-offset-2 columns">
		<%= f.submit %>
	</div>
</div>
<% end %>
