<h1>Listing questions for Topic <%= @currenttopic.name %></h1>

<table>
	<thead>
		<tr>
			<th>Type</th>
			<th>Name</th>
			<th>Body</th>
			<th>Noticewrong</th>
			<th>Noticeright</th>
			<th>Notice</th>
			<!-- <th>Topic</th> -->
			<th>Fragen</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @questions.each do |question| %>
		<tr>
			<td><%= question.questiontype %></td>
			<td><%= question.name %></td>
			<td><%= question.body %></td>
			<td><%= question.noticewrong %></td>
			<td><%= question.noticeright %></td>
			<td><%= question.notice %></td>
			<!-- <td><%= question.topic_id %></td> -->
			<td><%= link_to 'auswählen', select_question_path(question) %></td>
			<td><%= link_to 'Show', question %></td>
			<td><%= link_to 'Edit', edit_question_path(question) %></td>
			<td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
