<% @import = Import.new %>
<%= form_for(@import) do |f| %>
<% if @import.errors.any? %>
<div id="error_explanation">
	<% @import.errors.full_messages.each do |msg| %>
	<div class="small-3 push-2" id="flash_error">
		<%= msg %>
	</div>
	<% end %>
</div>
<% end %>
<h3 class="subheader">XML - Importer</h3>
<h6 class="subheader">Datei über Fileupload-Dialog auswählen und hochladen</h6>
<br>
<div class="row collapse">
	<div class="small-2 columns">
		<%= f.label "Datei auswählen:", class:"right inline" %>
	</div>
	<div class="small-10 columns">
		<%= f.file_field :xmlfile %>
	</div>
</div>
<div class="row collapse">
	<div class="small-10 small-offset-2 columns">
		<%= f.submit "Datei hochladen", :disabled => true %>
	</div>
</div>
<% end %>
