<p id="notice">
	<%= notice %>
</p>

<p>
	<strong>XML Datei:</strong>
	<%= @import.xmlfile %><br />
</p>

<%= link_to 'importieren', @import, method: :import_file %> | 
<%= link_to 'Edit', edit_import_path(@import) %> |
<%= link_to 'Back', imports_path %>
