<%= form_for(@answer) do |f| %>
<% if @answer.errors.any? %>
<div id="error_explanation">
	<!-- <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2> -->
	<% @answer.errors.full_messages.each do |msg| %>
	<div class="small-3 push-2" id="flash_error">
		<%= msg %>
	</div>
	<% end %>
</div>
<% end %>

<div class="row collapse" id="field_notice">
	<div class="small-2 columns">
		<%= f.label :notice, class:"right inline" %>
	</div>
	<div class="small-10 columns">
		<%= f.text_field :notice %>
	</div>
</div>
<div class="row collapse" id="field_body">
	<div class="small-2 columns">
		<%= f.label :body, class:"right inline" %>
	</div>
	<div class="small-10 columns">
		<%= f.text_area :body %>
	</div>
</div>
<div class="row collapse" id="field_correct">
	<% if @questiontype == "MultipleChoice" || @questiontype == "SingleChoice" %>
	<div class="small-2 columns">
		<%= f.label :correct, class:"right inline"%>
	</div>
	<div class="small-10 columns">
		<%= f.check_box :correct %>
	</div>
	<% else%>
	<div class="small-2 columns">
		<%= f.label :correct, class:"right inline", title: "Wird bei diesem Fragetyp nicht benötigt", data: {tooltip:true}  %>
	</div>
	<div class="small-10 columns">
		<%= f.check_box :correct, :disabled => true%>
	</div>
	<% end %>
</div>
<div class="row collapse" id="field_pattern">
	<div class="small-2 columns">
		<%= f.label :pattern, class:"right inline" %>
	</div>
	<div class="small-10 columns">
		<%= f.text_field :pattern %>
	</div>
</div>
<div class="row collapse">
	<div class="small-10 small-offset-2 columns">
		<%= f.submit %>
	</div>
</div>
<% end %>
