<h3 class="subheader">Antworten von Frage: <%= @currentquestion.name %></h3>

<table>
	<thead>
		<tr>
			<th>Notice</th>
			<th>Body</th>
			<th>Correct</th>
			<th>Pattern</th>
			<!-- <th>Question</th> -->
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @answers.each do |answer| %>
		<tr>
			<td><%= answer.notice %></td>
			<td><%= answer.body %></td>
			<td><%= answer.correct %></td>
			<td><%= answer.pattern %></td>
			<!-- <td><%= answer.question_id %></td> -->
			<td><%= link_to 'Show', answer %></td>
			<td><%= link_to 'Edit', edit_answer_path(answer) %></td>
			<td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br>

<%= link_to 'New Answer', new_answer_path, class:"small button radius" %>
