<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
	<!--<![endif]-->
	<head>
		<link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
		<meta charset="utf-8" />

		<!-- Uncomment to make IE8 render like IE7 -->
		<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

		<!-- Set the viewport width to device width for mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Mindmailer Lite - <%= yield(:title) %></title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "vendor/custom.modernizr" %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<% if current_user %>
		<div class="contain-to-grid">
			<nav class="top-bar ">
				<ul class="title-area">
					<li class="name">
						<h1><%= link_to "Mindmailer Lite v1.0", courses_path%></h1>
					</li>
					<li class="toggle-topbar menu-icon">
						<a href="#"><span>Menu</span></a>
					</li>
				</ul>
				<section class="top-bar-section ">
					<ul class="right">
						<li class="divider"></li>
						<li class="has-dropdown">
							<a href="#">Quickstart</a>
							<ul class="dropdown">
								<li>
									<%= link_to "Kurs anlegen", new_course_path%>
								<li>
									<label>Thema anlegen</label>
								</li>
								<% $courses.each do |course| %>
								<li class="has-dropdown">
									<%= link_to course.topic, new_topic_path(:c_id => course.id) %>
									<ul class="dropdown">
										<li>
											<label>Frage anlegen</label>
										</li>
										<% $topics.each do |topic| %>
										<li class="has-dropdown">
											<% if course.id == topic.course_id %>
											<%= link_to topic.name, new_question_path(:t_id => topic.id) %>
											<% end %>
											<ul class="dropdown">
												<li>
													<label>Antwort anlegen</label>
												</li>
												<% $questions.each do |question| %>
												<li>
													<% if topic.id == question.topic_id %>
													<%= link_to question.name, new_answer_path(:q_id => question.id) %>
													<% end %>
												</li>
												<% end %>
											</ul>
										</li>
										<% end %>
									</ul>
								</li>
								<% end %>
							</ul>
						</li>
						<li class="divider"></li>
						<li>
							<%= link_to "XML importieren", '#', data: {:'reveal-id' => 'myModal'} %>
							<div id="myModal" class="reveal-modal" data-reveal>
								<%= render 'imports/form' %>
							</div>
						</li>
						<li class="divider"></li>
					</ul>
				</section>
			</nav>
		</div>
		</br>
		<div class="row">
			<div class="large-12 columns">
				<dl class="sub-nav">
					<dt>
						Angemeldet als: <b><%= current_user.username %></b>
					</dt>
					<dd>
						<%= link_to "Logout", logout_path, class:"tiny button radius" %>
					</dd>
				</dl>
				<div class="row">
					<div id="error_explanation" class="small-6 columns">
						<% flash.each do |name, msg| %>
						<%= content_tag :div, msg, :id => "flash_#{name}" %>
						<% end %>
					</div>
				</div>
				<h3 class="subheader"><%= yield(:title) %></h3>
				<%= yield %>
			</div>
		</div>
		<%= javascript_include_tag "application" %>
		<% else %>
		</br>
		<div class="row">
			<div class="small-8 small-centered columns">
				<div id="error_explanation">
					<% flash.each do |name, msg| %>
					<%= content_tag :div, msg, :id => "flash_#{name}" %>
					<% end %>
				</div>
				<%= yield %>
			</div>
		</div>
		<% end %>
	</body>
</html>
